$color-accent: #371C84
$color-accent-alt: #a994e4
$color-text: #000000
$color-text-alt: #454545
$color-background: #FFFFFF
$color-background-alt: #F2F2F2
$color-border: rgba(0, 0, 0, 0.30)
$color-selection: $color-background
$color-selection-background: rgba($color-text, .7)

$body-font-family: "Atkinson", sans-serif
$heading-font-family: $body-font-family
$h1-weight: normal

$header-background: $color-accent
$header-color: $color-background
$header-logo-height: 60px
$header-logo-height-desktop: 100px
$header-border-bottom-width: 0
$header-sticky-background: $color-accent
$hero-background-color: $color-accent
$hero-credit-color: $color-background
$hero-color: $color-background
$footer-background-color: none

$breadcrumb-icon-color: $color-accent-alt