$color-accent: #371C84 !default
$color-text: #000000 !default
$color-text-alt: #454545 !default
$color-background: #FFFFFF !default
$color-background-alt: #F2F2F2 !default
$color-border: rgba(0, 0, 0, 0.30) !default
$color-selection: $color-background !default
$color-selection-background: rgba($color-text, .7) !default


// // Header
// $header-color: var(--color-text) !default
// $header-hover-color: var(--color-accent) !default // TODO : Réflechir à plus élégant / générique
$header-background: none
// $header-transition: 0.3s !default
// $header-dropdown-full: false !default
// $header-dropdown-background: $header-background !default
// $header-dropdown-color: $header-color !default
// $header-dropdown-transition: $header-transition !default
// $header-sticky-enabled: true !default
// $header-sticky-background: var(--color-background) !default
// $header-sticky-dropdown-background: $header-sticky-background !default
// $header-sticky-color: $header-color !default
// $header-sticky-transition: $header-transition !default
// $header-nav-padding-y: pxToRem(20) !default
// $header-nav-padding-y-desktop: pxToRem(30) !default
$header-logo-height: 60px !default
$header-logo-height-desktop: 100px
// $header-height: 87px !default
// $header-height-desktop: 96px !default
// $header-sticky-invert-logo: false !default
$header-border-bottom-width: 0

// // Navs
// $body-overlay-color: rgba(0, 0, 0, 0.3) !default

// // Footer
// $footer-color: var(--color-text) !default
$footer-background-color: none
// $footer-logo-height: $header-logo-height !default
// $footer-logo-height-desktop: $footer-logo-height !default
// $footer-icons-enabled: true !default
// $footer-icons-size: pxToRem(32) !default
// $footer-text-hidden: false !default
// $dropdown-i18n-background-color: var(--color-background) !default
// $dropdown-i18n-color: var(--color-text) !default

// // Hero
// $hero-height: 300px !default
// $hero-height-desktop: 500px !default
// $hero-color: var(--color-text) !default
$hero-background-color: none
// $hero-credit-color: var(--color-text-alt) !default
